#row, #row2,  {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  margin-right: 10px;
  float: left;
}
#row1 {
  float: left;
  margin-right: 5px;
}


#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;  /* Height of the footer */
}

body {
	padding: 0;
    margin: 0  auto;
    height:100%;
    background-image: url('../images/cable-computer-sata-s-ata-connection-plug-pc-2.jpg');
    min-height: 600px;
    padding: 10px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FFFFFC;
}

a {
    text-decoration: none;
}

a.class1 {
    margin-left: 40%;

}

a.class2{
	color: #AF5699;
	font-family:Brushstroke, fantasy;
	font-size: 25px;
	text-decoration: none;
}

a.class2:hover {
	color: pink;
}


a.current {
    font-size: 25px;
    font-family:Brushstroke, fantasy;
    text-decoration: underline;
    color: #AF5699;
}

a.current:hover {
    color: pink;
}

#nav{
	position: relative;
    text-align: center;
    background-position: center center;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 50px;
    border: 10px black;
} 

a:hover#menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;

}

ul{
	padding: 10px;
	margin: 0;
	position: absolute;
	max-width: 1200px;
}

li{
	display: inline-block;
	padding: 0px 10px 0px 10px;
}


input {
	border: 0;
	padding: 10px;
	font-size: 13px;
}

input[type="submit"] {
	color: white;
	background-color: #ff6699;
}


.Jumbotron{ 
    padding: 0;
    margin: 0  auto;
    background-image: url('../images/cable-computer-sata-s-ata-connection-plug-pc-2.jpg');
    min-height: 650px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    ;
}

.name{
    padding: 10px;
    margin-top: 60px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    float: left;
    color: #592124;
    font-family: 'Ultra', serif;
    font-variant: small-caps;
   
}

.social{
    padding: 10px;
    margin-top: 80px;
    height: 20px;
    line-height: 200px;
    float: left;
    margin-left: 500px;
    margin-right: 1000px;
}

footer{
    background-color: rgba(0,0,0,0.6);
    color:white;
    text-align:center;
    padding: 10px; 
    background: #000000;
    opacity:0.4;
    margin-top: 32px;
}

p{
    color: Blue;
}

.button1{
    color:white;
    background: lightblue;
    border: 10px solid;
    outline:none;
    padding: 15px;
    cursor: pointer;
    height: 5px;
    border-radius: 5px;
    float: left;
    position: relative;
}

/*Blog*/
article{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px; 
    background-color: #BAD1D1;
}

p.blog{
    text-indent: 50px;
    color: black;
    padding-left: 20px;
    padding-right: 5px;
}
 
h2.blog{
    color: darkblue;
    font-size: 30px;
    padding: 10px;
    font-variant: small-caps;
}

button{
        background-color: #F7FA99;
        transition: all 0.5s;
        cursor: pointer;
}

.page-header{
   margin-top: 20px;
   margin-left: 30px;
    color: hotpink;
    padding: 10px;
    font-size: 28px;
}
form{
    width: 50%;
    margin-left: 30px;
    margin-top: 60px;
    background-color: lightblue;
    padding-top: 30px;
    border: 5px solid black;
}
.subscribe{
    color: green;
    text-align: center;
}

.social{
    width: 30px;
}

/*About ME*/
ol li{
    margin-top: 70px;
    display: block;
    font-size: 30px;
}

.main{
    background: lightblue;
    margin-left: 40px;
    margin-right: 70px;
    padding: 5px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 768px) {

    header {
        position: absolute;

    }

    #menu-icon {

        display:inline-block;
        width: 60px;
        height: 50px;
        background: url(../images/1458018922_star.svg) no-repeat hotpink center;
        position: relative;

    }

    nav ul, nav:active#menu-icon { 

        display: none;
        position: absolute;
        background: #FFFFFC;
        border: 5px solid #444;
        border-radius: 4px 0 4px 4px;
        text-align: center;
    }

    nav li {
        text-align: center;
        width: 100px;
        margin: 0;

    }

    nav:hover ul{

        display: block;
        width: 220px;
    }
